//? START: ADVANTAGES =================================================
section.advantages.section-paddings#advantages
  h2.advantages__title.h2.visually-hidden Преимущества
  .container
    .advantages__grid
      .advantages-item
        +webp(303, 338, "01", "png", "./index/advantages/", "Image description").advantages-item__img
        .advantages-item__content
          .advantages-item__icon
            img(width="25" height="60" src="./img/index/advantages/lightning-bolt.svg", alt="lightning-bolt")
          .advantages-item__count.h1 01
          .advantages-item__header
            .advantages-item__title.h3 Энергия
            .advantages-item__periodicity 1 - 4 день
          p.advantages-item__text.p1 Для всех кому важно быть красивыми всегда! А любая красота начинается изнутри.
      .advantages-item
        +webp(303, 338, "02", "png", "./index/advantages/", "Image description").advantages-item__img
        .advantages-item__content
          .advantages-item__icon
            img(width="25" height="60" src="./img/index/advantages/face.svg", alt="lightning-bolt")
          .advantages-item__count.h1 02
          .advantages-item__header
            .advantages-item__title.h3 Красота
            .advantages-item__periodicity 5 - 7 день
          p.advantages-item__text.p1 Для всех кому важно быть красивыми всегда! А любая красота начинается изнутри.
      .advantages-item
        +webp(303, 338, "03", "png", "./index/advantages/", "Image description").advantages-item__img
        .advantages-item__content
          .advantages-item__icon
            img(width="25" height="60" src="./img/index/advantages/barbell.svg", alt="lightning-bolt")
          .advantages-item__count.h1 03
          .advantages-item__header
            .advantages-item__title.h3 Фитнес
            .advantages-item__periodicity 8 - 10 день
          p.advantages-item__text.p1 Для всех кому важно быть красивыми всегда! А любая красота начинается изнутри.
      .advantages-item
        +webp(303, 338, "04", "png", "./index/advantages/", "Image description").advantages-item__img
        .advantages-item__content
          .advantages-item__icon
            img(width="25" height="60" src="./img/index/advantages/favourite.svg", alt="lightning-bolt")
          .advantages-item__count.h1 04
          .advantages-item__header
            .advantages-item__title.h3 Здоровье
            .advantages-item__periodicity 11 - 14 день
          p.advantages-item__text.p1 Для всех кому важно быть красивыми всегда! А любая красота начинается изнутри.
//? END: ADVANTAGES ===================================================
