//? START: BANNER =================================================
section.banner.section-paddings#banner
  .container
    +webp(1920, 490, "01", "png", "./index/banner/", "Image description").banner__img
    .banner__content
      h2.banner__title.h2 Зинедин Зидан
      .banner__text
        p Я плакал, потому что у меня не было футбольных кед, но однажды я встретил человека, у которого не было ног.
        span Главный тренер мадридского «Реала»
//? END: BANNER ===================================================
