//? START: COST =================================================
section.cost.section-paddings#cost
  +webp(2066, 1514, "bg-cost", "png", "./index/cost/", "Image description").cost__img

  .container
    h2.cost__title.h1 Стоимость
    .cost__text.p Каждый участник сначала регистрируется на платформе CYL и покупает Набор на выбор. CYL ставит фиксированную цену за марфон, а куратор предлагает один из шести стандартных наборов

    .cost__grid
      .cost-item
        .cost-item__icon
          img(width="114" height="114" src="./img/index/cost/park-tickets-couple.svg", alt="lightning-boltpark-tickets-couple")
        .cost-item__content
          .cost-item__title.h3 Стоимость
          .cost-item__text.p1 За 1 участника
      .cost-item
        .cost-item__content
          .cost-item__title.h3 3 евро
          .cost-item__text.p1 Регистрация в марафоне
      .cost-item
        .cost-item__content
          .cost-item__title.h3 от 13 евро
          .cost-item__text.p1 Стоимость Набора
      .cost-item
        .cost-item__content
          a.btn.btn_long.btn_main(href="#", target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
              path(d='M12.65 10A5.99 5.99 0 0 0 7 6c-3.31 0-6 2.69-6 6s2.69 6 6 6a5.99 5.99 0 0 0 5.65-4H17v4h4v-4h2v-4H12.65zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2s2 .9 2 2s-.9 2-2 2z' fill='#626262')
            span Регистрация
//? END: COST ===================================================
