//? START: CURATORS =================================================
section.curators.section-paddings#curators
  .container
    h2.curators__title.h1 Кураторы
    .curators__text.p В нашем марафоне примут участие известные личности

    .curators__grid
      .curators-item
        +webp(630, 630, "01", "png", "./index/сurators/", "Image description").curators-item__img
        .curators-item__content
          .curators-item__name.h2 Татьяна Москаленко
          .curators-item__about Мастер спорта Украины по бодибилдингу, Вице-чемпионка Европы, Абсолютная чемпионка Украины
      .curators-item
        +webp(630, 630, "02", "png", "./index/сurators/", "Image description").curators-item__img
        .curators-item__content
          .curators-item__name.h2 Георгий Ёлгин (Гера)
          .curators-item__about
            | Персональный celebrity coach,
            |  Мастер спорта по велоспорту (шоссе, горный велосипед, велокросс),
            |  Кандидат в мастера спорта по жиму лежа, Плавание 1 взрослы разряд,
            |  Взрослый 1 разряд Легкая атлетика
      .curators-item
        +webp(630, 630, "03", "png", "./index/сurators/", "Image description").curators-item__img
        .curators-item__content
          .curators-item__name.h2 Анастасия Гудзь
          .curators-item__about
            | Мастер спорта по плаванию.
            |  Нутрициолог.
            |  Бакалавр физической культуры и спорта.
            |  Магистр по направлению менеджмент и экономика.
            |  Была членом сборной России по плаванию.
            |  Многократная чемпионка России, ЦФО, Москвы и МО.
//? END: CURATORS ===================================================
