//? START: PRIZES =================================================
section.prizes.prizes_inner.section-paddings#prizes
  +webp(2000, 1190, "bg-prizes", "png", "./index/prizes/", "Image description").prizes__img

  .container
    h2.what-get__title.h1 Призы участникам
    .what-get__text.p Для участия в розыгрыше призов необходимо:

    .prizes__row
      .prizes__col
        .prizes__grid-about
          .prizes-item-about
            .prizes-item-about__icon
              img(width="58" height="58" src="./img/index/prizes/route.svg", alt="route")
            .prizes-item-about__title.h3 Команду
            .prizes-item-about__text.p1 В группы добавляются все участники марафона данного месяца и кураторы
          .prizes-item-about
            .prizes-item-about__icon
              img(width="58" height="58" src="./img/index/prizes/activity.svg", alt="activity")
            .prizes-item-about__title.h3 Знания
            .prizes-item-about__text.p1 Ежедневные посты о здоровье, энергии, фитнесе, красоте
          .prizes-item-about
            .prizes-item-about__icon
              img(width="58" height="58" src="./img/index/prizes/files.svg", alt="files")
            .prizes-item-about__title.h3 Мотивацию
            .prizes-item-about__text.p1 Наши кураторы будут на связи с вами 24 часа все 14 дней
          .prizes-item-about
            .prizes-item-about__icon
              img(width="58" height="58" src="./img/index/prizes/exam.svg", alt="exam")
            .prizes-item-about__title.h3 Практику
            .prizes-item-about__text.p1 Прямые эфиры с крутыми спикерами на интересные темы

      .prizes__col
        .prizes-item
          +webp(303, 338, "01", "png", "./index/prizes/", "Image description").prizes-item__img
          .prizes-item__content
            .prizes-item__count.h3 50
            .prizes-item__titile.h3 XS power drink

    .prizes__description
      .prizes__description-text.h2 Присоединяйся к команде прямо сейчас!
      a.btn.btn_long.btn_main(href="#", target="_blank")
        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
          path(d='M12.65 10A5.99 5.99 0 0 0 7 6c-3.31 0-6 2.69-6 6s2.69 6 6 6a5.99 5.99 0 0 0 5.65-4H17v4h4v-4h2v-4H12.65zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2s2 .9 2 2s-.9 2-2 2z' fill='#626262')
        span Регистрация
//? END: PRIZES ===================================================
