//? START: sets =================================================
section.sets.section-paddings#sets
  .container
    h2.sets__title.h2.text-accent Доступные наборы

    .sets__grid
      .sets-item
        .sets-item__header
          .sets-item__price.p1 1 115 руб.
          +webp(303, 338, "01", "png", "./index/sets/", "Image description").sets-item__img
        .sets-item__content
          .sets-item__count.h1 01
          .sets-item__title.h3 Твой кишечник просит чистку
          p.sets-item__text.p1 Смесь пищевых волокон с инулином – 15 саше.
      .sets-item
        .sets-item__header
          .sets-item__price.p1 1 141 руб.
          +webp(303, 338, "02", "png", "./index/sets/", "Image description").sets-item__img
        .sets-item__content
          .sets-item__count.h1 02
          .sets-item__title.h3 Как начать меньше есть?
          p.sets-item__text.p1 Контроль аппетита – 15 саше
      .sets-item
        .sets-item__header
          .sets-item__price.p1 1 321 руб.
          +webp(303, 338, "03", "png", "./index/sets/", "Image description").sets-item__img
        .sets-item__content
          .sets-item__count.h1 03
          .sets-item__title.h3 Заряди свою батарейку
          p.sets-item__text.p1 XS напиток (12 шт.) Кофе молотый (1 уп.)
      .sets-item
        .sets-item__header
          .sets-item__price.p1 1 165 руб.
          +webp(303, 338, "04", "png", "./index/sets/", "Image description").sets-item__img
        .sets-item__content
          .sets-item__count.h1 04
          .sets-item__title.h3 День и ночь
          p.sets-item__text.p1 Для всех кому важно быть красивыми всегда! А любая красота начинается изнутри.
      .sets-item
        .sets-item__header
          .sets-item__price.p1 1 228 руб.
          +webp(303, 338, "05", "png", "./index/sets/", "Image description").sets-item__img
        .sets-item__content
          .sets-item__count.h1 05
          .sets-item__title.h3 Чтобы еще пожевать?
          p.sets-item__text.p1 Жевательные таблетки Смесь пищевых волокон (1 уп.)
      .sets-item
        .sets-item__header
          .sets-item__price.p1 2 639 руб.
          +webp(303, 338, "06", "png", "./index/sets/", "Image description").sets-item__img
        .sets-item__content
          .sets-item__count.h1 06
          .sets-item__title.h3 Клетка тоже хочет есть!
          p.sets-item__text.p1 NUTRILITE™ Протеиновый порошок - 450 г.
//? END: sets ===================================================
