//? START: WHAT-GET =================================================
section.what-get.section-paddings#what-get
  .container
    h2.prizes__title.h1 Что получаете?

    .what-get__grid
      .what-get-item
          .what-get-item__icon
            img(width="58" height="58" src="./img/index/what-get/support.svg", alt="support")
          .what-get-item__title.h3 Команду
          .what-get-item__text.p1 В группы добавляются все участники марафона данного месяца и кураторы
      .what-get-item
        .what-get-item__icon
          img(width="58" height="58" src="./img/index/what-get/mortarboard.svg", alt="mortarboard")
        .what-get-item__title.h3 Знания
        .what-get-item__text.p1 Ежедневные посты о здоровье, энергии, фитнесе, красоте
      .what-get-item
        .what-get-item__icon
          img(width="58" height="58" src="./img/index/what-get/motivation.svg", alt="motivation")
        .what-get-item__title.h3 Мотивацию
        .what-get-item__text.p1 Наши кураторы будут на связи с вами 24 часа все 14 дней
      .what-get-item
        .what-get-item__icon
          img(width="58" height="58" src="./img/index/what-get/live.svg", alt="live")
        .what-get-item__title.h3 Практику
        .what-get-item__text.p1 Прямые эфиры с крутыми спикерами на интересные темы
//? END: WHAT-GET ===================================================
