extend ./layouts/base

block content
  include ./components/index/promo
  include ./components/index/advantages
  include ./components/index/curators
  include ./components/index/what-get
  include ./components/index/banner
  include ./components/index/cost
  include ./components/index/sets
  include ./components/index/prizes
  //- include ./components/index/prizes-inner
  include ./components/common/scroll-up
