//? START: FOOTER =================================================
.footer.section-paddings#footer
  .footer__body
    .container
      nav.footer__nav
        ul
          li
            .footer__logo
              a.logo(href="/", aria-label="Ссылка на главную страницу")
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='236.487' height='51.497' viewbox='0 0 236.487 51.497')
                  defs
                    style.
                      .logo-a,
                      .logo-b {
                      fill: url(#logo-a);
                      }
                      .logo-b,
                      .logo-c,
                      .logo-e {
                      stroke: rgba(0, 0, 0, 0);
                      }
                      .logo-c {
                      fill: url(#logo-e);
                      }
                      .logo-d {
                      fill: #f05f55;
                      }
                      .logo-e {
                      fill: url(#logo-v);
                      }
                      .logo-f {
                      fill: #fff;
                      font-size: 14px;
                      font-family: Montserrat;
                      font-weight: 700;
                      }
                    lineargradient#logo-a(x1='0.5' x2='0.5' y2='1' gradientunits='objectBoundingBox')
                      stop(offset='0' stop-color='#88ec00')
                      stop(offset='1' stop-color='#8cc63f')
                    lineargradient#logo-e(x1='0.5' x2='0.5' y2='1' gradientunits='objectBoundingBox')
                      stop(offset='0' stop-color='#6fb213')
                      stop(offset='1' stop-color='#6fa823')
                    lineargradient#logo-v(x1='0.5' x2='0.5' y2='1' gradientunits='objectBoundingBox')
                      stop(offset='0' stop-color='#88ec00')
                      stop(offset='1' stop-color='#61a506')
                  g(transform='translate(-319.513 -25.503)')
                    g(transform='translate(-87.469 -64.685)')
                      g(transform='translate(458.253 90.688)')
                        path.logo-a(d='M1.92-.321h5.8V-11.811H7.8L15.067-.321h6.4L12.9-12.758,21.029-24.01h-6.4L7.8-13.429H7.724V-24.01H1.92ZM3.381-1.427V-22.9H6.263V-1.427ZM22.45-.321h6.238l1.145-2.448h9.357L40.375-.321h6.238L35.006-24.8H33.979Zm9.2-6.593,2.764-6h.079l2.724,6Zm7.146,0h3.2L44.6-1.427H41.323ZM24.424-1.427,27.03-6.915h3.2L27.662-1.427ZM45.587-5.178H56.918V-.321H62.6V-5.178h3.672v-4.856H62.6V-24.01H56.8L45.587-5.849ZM58.3-10.034v-6.317L61.221-20.5v10.463Zm-4.382,0,3-5.054v5.054ZM58.3-1.427V-5.178h2.922v3.751ZM69.354-.321h5.8V-11.811h.079L82.5-.321h6.4L80.33-12.758,88.464-24.01h-6.4l-6.83,10.581h-.079V-24.01h-5.8Zm1.461-1.105V-22.9H73.7V-1.427ZM89.885-.321h6.238l1.145-2.448h9.357L107.81-.321h6.238L102.44-24.8h-1.027Zm9.2-6.593,2.764-6h.079l2.724,6Zm7.146,0h3.2l2.606,5.488h-3.277ZM91.859-1.427l2.606-5.488h3.2L95.1-1.427Z' transform='translate(71.121 24.8)')
                        path.logo-a(d='M1.92-.321H7.684V-8.849H11.83a7.418,7.418,0,0,0,7.7-7.58,7.39,7.39,0,0,0-7.7-7.58H1.92ZM3.381-1.427V-22.9H6.223V-1.427Zm4.3-12.4v-5.251h3.593a2.3,2.3,0,0,1,2.329,2.487,2.519,2.519,0,0,1-2.329,2.764ZM23.24-.321h5.8V-9.165L35.085-.321h7.265l-6.4-8.8c3.514-.869,5.606-3.2,5.606-7.344,0-4.461-3.316-7.541-8.41-7.541H23.24ZM24.7-1.427V-22.9h2.882V-1.427Zm4.343-12.318v-5.33h4.5a2.5,2.5,0,0,1,2.329,2.606c0,1.382-.869,2.724-2.171,2.724Zm15.6,1.579A12.358,12.358,0,0,0,57.392.468,12.382,12.382,0,0,0,70.144-12.166,12.382,12.382,0,0,0,57.392-24.8,12.358,12.358,0,0,0,44.639-12.166Zm5.883,0c0-3.988,2.645-7.146,6.87-7.146,4.185,0,6.87,3.159,6.87,7.146S61.577-5.02,57.392-5.02C53.167-5.02,50.522-8.178,50.522-12.166ZM46.337-9.679h3.04A7.975,7.975,0,0,0,57.392-3.8a7.933,7.933,0,0,0,8.015-5.883h3.04A11.043,11.043,0,0,1,57.392-.716,10.946,10.946,0,0,1,46.337-9.679Z' transform='translate(-1.92 24.8)')
                      g(transform='translate(407.469 90.688)')
                        path.logo-b(d='M4.451,0A4.451,4.451,0,1,1,0,4.451,4.451,4.451,0,0,1,4.451,0Z' transform='translate(15.384 11.374)')
                        path.logo-b(d='M172.48,137.943c7.1,3.249,9.16,4.515,9.74,7.87s-1.1,5.677-2.838,5.354.9-4.451-1.161-5.419-5.112,2.032-3.87,5.677c2,5.87,7.16,1.226,8.257,2.58s-.645,5.483-6.58,4.515-5.354-6-10.257-5.16-5.676,4-6.322,8.192-3.483,2.322-3.935-2.58,1.484-7.676,5.677-10.257,4.257-7.741,3.935-9.418-3.669-7.706-2.774-11.289c.774-3.1,3.225-2.516,3.483-.064S167.126,135.492,172.48,137.943Z' transform='translate(-155.451 -116.603)')
                        path.logo-c(d='M210.116,104.612a2.964,2.964,0,0,1-2.768.614c-1.934-.287-3.812-.87-5.732-1.235a11.935,11.935,0,0,0-5.8.082,8.988,8.988,0,0,1,4.445-3.063,15.239,15.239,0,0,1,5.418-.629c1.575.069,3.308.387,4.278,1.629A2.148,2.148,0,0,1,210.116,104.612Z' transform='translate(-188.66 -95.596)')
                        path.logo-c(d='M309.943,271.423a2.965,2.965,0,0,0-2.709.836c-1.539,1.206-2.881,2.642-4.369,3.911a11.936,11.936,0,0,1-5.084,2.8,8.987,8.987,0,0,0,5.378.462,15.241,15.241,0,0,0,5.019-2.135c1.334-.839,2.683-1.973,2.912-3.533A2.148,2.148,0,0,0,309.943,271.423Z' transform='translate(-272.559 -236.258)')
                        path.logo-c(d='M314.6,241.054a2.33,2.33,0,0,0-1.1,1.938c-.23,1.519-.224,3.064-.392,4.592a9.377,9.377,0,0,1-1.4,4.342,7.063,7.063,0,0,0,3.325-2.634,11.979,11.979,0,0,0,1.721-3.926,4.379,4.379,0,0,0-.238-3.59A1.688,1.688,0,0,0,314.6,241.054Z' transform='translate(-284.022 -211.281)')
                        path.logo-c(d='M187.98,312.925a2.079,2.079,0,0,0-1.924.5c-1.116.8-2.1,1.76-3.185,2.6a8.372,8.372,0,0,1-3.651,1.8,6.3,6.3,0,0,0,3.753.494,10.686,10.686,0,0,0,3.584-1.336,3.907,3.907,0,0,0,2.152-2.383A1.507,1.507,0,0,0,187.98,312.925Z' transform='translate(-175.007 -270.415)')
                        path.logo-c(d='M185.034,301.931c-.43.118-.644.594-.766,1.023-.241.848-.351,1.727-.557,2.584a5.379,5.379,0,0,1-1.112,2.369,4.051,4.051,0,0,0,2.083-1.257,6.868,6.868,0,0,0,1.265-2.108,2.511,2.511,0,0,0,.125-2.06A.968.968,0,0,0,185.034,301.931Z' transform='translate(-177.788 -261.427)')
                        path.logo-c(d='M200.956,74.647a2,2,0,0,1-1.022,1.613c-1.056.787-2.227,1.406-3.314,2.15a8.039,8.039,0,0,0-2.719,2.81,6.054,6.054,0,0,1,.65-3.578,10.265,10.265,0,0,1,2.274-2.886,3.754,3.754,0,0,1,2.811-1.269A1.447,1.447,0,0,1,200.956,74.647Z' transform='translate(-187.041 -73.472)')
                        path.logo-c(d='M157.349,288.253c.864,3.542,3.088,4.489,3.649.838.645-4.193,1.419-7.354,6.322-8.192C159.934,282.124,157.087,285.351,157.349,288.253Z' transform='translate(-156.999 -244.142)')
                        path.logo-c(d='M259.375,283.325a.808.808,0,0,0-.661-.261h-.033c-2.535.149-6.432,5.58-9.929,2.962a7.971,7.971,0,0,0,4.044,1.814C258.729,288.808,260.471,284.68,259.375,283.325Z' transform='translate(-232.218 -245.923)')
                        path.logo-c(d='M285.851,239.186c1.41,1.255-.808,4.9.824,5.2a1.884,1.884,0,0,0,1.471-.368C289.514,242.641,287.623,240.4,285.851,239.186Z' transform='translate(-262.743 -209.821)')
                        path.logo-c(d='M193.694,128.013c-.568,2.273.571,5.53,1.563,8.037-1.109-3.149,2.223-6.626,1.548-9.307h0C196.027,125.411,194.317,125.52,193.694,128.013Z' transform='translate(-186.792 -116.606)')
                        path.logo-c(d='M252.511,153.628a4.43,4.43,0,0,0-.46-1.97c1.524,4.27-6.507,6.421-8.153,3.548a4.451,4.451,0,0,0,8.613-1.578Z' transform='translate(-228.225 -137.803)')
                        path.logo-d(d='M296.87,315.389' transform='translate(-271.81 -272.52)')
                        path.logo-b(d='M303.159,281.456a15.238,15.238,0,0,0,5.019-2.135c1.335-.839,2.683-1.973,2.912-3.533a2.364,2.364,0,0,0-.627-2.013h0c.7,1.866-.845,3.6-5.3,5.584-4.666,2.079-7.386,1.634-7.386,1.634A8.987,8.987,0,0,0,303.159,281.456Z' transform='translate(-272.559 -238.281)')
                        path.logo-b(d='M315.038,249.411a11.979,11.979,0,0,0,1.721-3.926,4.379,4.379,0,0,0-.238-3.59,1.935,1.935,0,0,0-1.187-.79h0c2.864,5.463-3.621,10.94-3.621,10.94A7.062,7.062,0,0,0,315.038,249.411Z' transform='translate(-284.022 -211.4)')
                        path.logo-b(d='M182.972,319.344a10.687,10.687,0,0,0,3.584-1.336,3.908,3.908,0,0,0,2.152-2.383,1.6,1.6,0,0,0-.513-1.552c.154.669.3,1.811-2.915,3.472-3.644,1.883-6.061,1.3-6.061,1.3A6.3,6.3,0,0,0,182.972,319.344Z' transform='translate(-175.007 -271.437)')
                        path.logo-b(d='M184.682,306.771a6.868,6.868,0,0,0,1.265-2.108,2.511,2.511,0,0,0,.125-2.06,1.089,1.089,0,0,0-.674-.549c.39.29.517.911-.356,2.974a6.491,6.491,0,0,1-2.444,3A4.051,4.051,0,0,0,184.682,306.771Z' transform='translate(-177.788 -261.548)')
                        path.logo-b(d='M210.482,103.618h0a2.493,2.493,0,0,0-.529-1.608c-.971-1.242-2.7-1.56-4.278-1.629a15.239,15.239,0,0,0-5.418.629,8.988,8.988,0,0,0-4.445,3.063,14.356,14.356,0,0,1,6.768-2.361C206.721,101.325,210.372,102.136,210.482,103.618Z' transform='translate(-188.66 -95.596)')
                        path.logo-b(d='M200.773,74.15a1.629,1.629,0,0,0-1.137-.663,3.754,3.754,0,0,0-2.811,1.269,10.265,10.265,0,0,0-2.274,2.886,6.054,6.054,0,0,0-.65,3.578,11.077,11.077,0,0,1,2.623-4.921C198.619,74.074,200.089,73.422,200.773,74.15Z' transform='translate(-187.041 -73.472)')
                        path.logo-e(d='M258.713,283.064h-.033c-2.535.149-6.432,5.58-9.929,2.962a8.015,8.015,0,0,0,1.291.893,6.826,6.826,0,0,0,2.974.144,10.138,10.138,0,0,0,2.743-1.31,5.338,5.338,0,0,1,2.867-.914,2.511,2.511,0,0,1,.931.239,1.9,1.9,0,0,0-.183-1.753A.808.808,0,0,0,258.713,283.064Z' transform='translate(-232.218 -245.923)')
                        path.logo-e(d='M159.943,286.474a10.643,10.643,0,0,1,7.376-5.575c-7.385,1.225-10.233,4.452-9.971,7.354a7.362,7.362,0,0,0,.79,2.03,4.242,4.242,0,0,0,1.123-1.747C159.519,287.859,159.686,287.15,159.943,286.474Z' transform='translate(-156.999 -244.142)')
                        path.logo-e(d='M285.851,239.186a1.439,1.439,0,0,1,.435.8,3.657,3.657,0,0,1,1.2,2.391,2.394,2.394,0,0,1-.242,1.347,1.555,1.555,0,0,1-.656.638c.028.008.055.017.086.023a1.884,1.884,0,0,0,1.471-.368C289.514,242.641,287.623,240.4,285.851,239.186Z' transform='translate(-262.743 -209.821)')
                        path.logo-e(d='M201.7,126.743a1.492,1.492,0,0,0-1.383-.841,4.159,4.159,0,0,1,.446,3.106c-.237,1.2-.767,2.314-1.047,3.5a8.585,8.585,0,0,0-.223,1.784c.214.61.44,1.2.66,1.758C199.046,132.9,202.378,129.424,201.7,126.743Z' transform='translate(-191.691 -116.607)')
                        path.logo-e(d='M252.051,151.658c1.524,4.27-6.507,6.421-8.153,3.548a4.463,4.463,0,0,0,1.521,2,6.029,6.029,0,0,0,4.137-.336A5.245,5.245,0,0,0,252.465,153,4.426,4.426,0,0,0,252.051,151.658Z' transform='translate(-228.225 -137.803)')
                        path.logo-c(d='M250.429,139.649a4.451,4.451,0,0,0-8.161,2.459c0,.1,0,.2.011.3C242.517,139.983,247.44,136.9,250.429,139.649Z' transform='translate(-226.884 -126.283)')
                        path.logo-c(d='M221.6,157.721c6.455,1.69,9.92,4.323,10.352,7.87h0a7.759,7.759,0,0,0-.116-1.291c-.581-3.354-2.645-4.621-9.74-7.87a11.228,11.228,0,0,1-6.327-8.069h0S215.145,156.031,221.6,157.721Z' transform='translate(-205.066 -135.091)')
                        path.logo-c(d='M155.6,219.083c.738-3.089,1.952-4.511,5.3-6.64s6.445-5.354,4.349-10.9c.322,1.677.258,6.838-3.935,9.418C157.77,213.14,155.839,215.459,155.6,219.083Z' transform='translate(-155.572 -178.847)')
                        path.logo-c(d='M259.689,245.918c-1.6.182-3.252-.24-4.2-3.019-1.019-2.993.854-5.549,2.7-5.832h0c-4.667.091-4.473,4.791-3.7,6.505A4.527,4.527,0,0,0,259.689,245.918Z' transform='translate(-236.591 -208.077)')
                    text.logo-f(transform='translate(474 73)')
                      tspan(x='0' y='0') МАРАФОН
            div
              p ИП Андропова Ю.А.
              p ОГРНИП 123434345 ИНН 1234567654321
              p г. Санкт-Петербург

          li
            h3.text-accent Контакты
            div
              p Страница обратной связи
              p Электронный адрес:
              a(href="mailto:info@online-school.ru") info@online-school.ru

          li
            h3.text-accent
            div
              p Телефон:
              a(href="tel:+88004960303") 8-800-496-03-03

          li
            h3.text-accent Документы
            div
              a(href="#" target="_blank") Договор-оферта
              a(href="#" target="_blank") Соглашение об обработке персональных данных
//? END: FOOTER ===================================================
