mixin find-good(title, text, link)
  //? START: FIND-GOOD =================================================
  section.find-good.section-paddings#find-good
    .container
      h2.find-good__title.h2= title
      p.find-good__text.p= text
      .find-good__actions
        a.btn.btn_dark(href="#", target="_blank", rel="noopener noreferrer")= link
  //? END: FIND-GOOD ===================================================
