.prizes {
  position: relative;
  margin-bottom: $vertical-padding-xl * 2;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      filter: grayscale(100%);
      object-fit: cover;
      object-position: bottom;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent radial-gradient(closest-side at 50% 50%, #0a0c0b00 0%, #060606 100%);
    }
  }

  &__title {
    margin-bottom: $base * 4;
  }

  &__grid-about {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $base * 28;
    margin-top: $base * 10;

    @media (max-width: $media-max-xxl) {
      gap: $base * 14;
    }

    @media (max-width: $media-max-tablet) {
      gap: $base * 6;
    }

    @media (max-width: $media-max-md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .prizes-item-about {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    &__icon {
      position: relative;
      width: 77px;
      height: 60px;
      margin-bottom: $base * 8;

      img {
        position: absolute;
        flex: 0 0 100%;
        width: 77px;
        height: 60px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
        object-position: top left;
      }
    }

    &__title {
      color: $color-accent;
      margin-bottom: $base * 8;
    }

    &__text {
      color: #b2b2b2;
      font-weight: $fw-light;
    }
  }

  &__grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $base * 6;
    margin-top: $base * 20;

    @media (max-width: $media-max-tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .prizes-item {
    overflow: hidden;
    position: relative;
    height: 100%;
    padding: 100% $base * 7 $base * 7;
    border-radius: $br-xs;
    transition: $tr-time $tr-type;

    @media (max-width: $media-max-xl) {
      padding: 100% $base * 4 $base * 4;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .prizes-item {
        &__img {
          img {
            transform: scale($scale-img);
          }
        }
      }
    }

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: $tr-time $tr-type;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%);
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      height: 100%;
    }

    &__count {
      position: relative;
      margin-bottom: $base * 3;
      color: $color-accent;

      @media (max-width: $media-max-sm) {
        font-size: 14px;
      }
    }

    &__title {
    }
  }

  &__description {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
    gap: $base * 55;
    margin-top: $base * 20;

    @media (max-width: $media-max-tablet) {
      display: block;
    }

    &-text {
      @media (max-width: $media-max-tablet) {
        margin-bottom: $base * 4;
      }
    }

    .btn {
      height: auto;
      width: fit-content;
      margin-left: auto;
    }
  }
}

.prizes {
  &_inner {
    .what-get__title {
      line-height: 1;
    }

    .prizes {
      &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $base * 6;
        margin-top: $base * 10;

        @media (max-width: $media-max-tablet) {
          grid-template-columns: 1fr;
        }
      }

      &__col {
        &:last-child {
          @media (max-width: $media-max-tablet) {
            margin: 0 20%;
          }

          @media (max-width: $media-max-md) {
            margin: 0 10%;
          }

          @media (max-width: $media-max-sm) {
            margin: 0;
          }
        }
      }

      &__grid-about {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $base * 6;
        margin-top: 0;

        @media (max-width: $media-max-md) {
          grid-template-columns: 1fr 1fr;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: $base * 6;

        @media (max-width: $media-max-tablet){
          padding-top: 100%;
        }
      }
    }
  }
}
